
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{

    background-color: #FFF8F3;
    background: url(../images/developer.png) , url(../images/header_bg.png) #FFF8F3;
    background-repeat: no-repeat;
    background-position: top left , right bottom; 
}
nav{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h2{
    font-size: 45px;
    font-weight: 900px;
}
nav .menu{
    display: flex;
    list-style: none;
    gap: 53px;
    align-items: center;
    
}
nav .menu a{
    text-decoration: none;
    font-size: 20px;
    color: #474747;
    
}
.btn{
    background-color: #FD6E0A;
    color: white;
    width: 150px;
    height: 65px;
    border-radius: 5px;
    padding: 18px 36px;
    cursor: pointer;
    border: none;
    font-size: 20px;
    
}
.color-orange{
    color: #FD6E0A;
}

#banner{

    margin: 46px 53px 0px 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
#banner .banner-content{
    max-width: 585px;
  
}
#banner .banner-content h2{
    font-size: 45px;
    font-weight: 600px;
    color: #474747;
    margin-bottom: 5px;

}
#banner .banner-content h1{
    font-size: 85px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #181818;
}
#banner .banner-content p{
    color: #757575;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 34px;
    
}
#banner .banner-content .botam{
    background-color: #FD6E0A;
    color: white;
    width: 150px;
    height: 65px;
    border-radius: 5px;
    padding: 18px 30px;
    font-weight: bold;
}
#banner .banner-image img{
   max-width: 585px;
   vertical-align: middle;
}
#about{
    padding-top: 130px;
    margin-bottom: 130px;
}
.about-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 156px;
}
.section-heading h2{
    color: #181818;
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 30px;
}
.section-heading p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}
.about-info{
    display: flex;
    justify-content: space-around;
}
.info-card p{
    color: #757575;
    font-size: 20px;
    line-height: 30px;
}
.info-card h4{
      color: #181818;
    font-size: 20px;
    line-height: 30px;
}

#skills .skills-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
}
.skills-heading{
    text-align: center;
}
.skills-heading h3{
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;
}
.skills-heading p{
    font-size: 18px;
    line-height: 30px;
    margin: 0 auto;
    max-width: 827px;
    color: #757575;
}
#skills .skills-container .skill-box{
    display: flex;
    gap: 24px;
    margin-top: 130px;
}
.skill-box .skills-card{
    padding: 30px;
    background-color: #FFFFFF;
    box-shadow:  0px 0px 7px 3px  rgb(172, 164, 164);
    margin-bottom: 50px;
    border-radius: 20px;
    max-width: 267px;
}
.skills-card img{
    width: 44px;
}
.skills-card h3{
    font-size: 20px;
    font-weight: bold;
    margin-top: 30px;
}
.skills-card p{
    width: 201px;
    font-size: 18px;
    line-height: 28px;
    margin-top: 20px;
    color: #757575;
}

/* resume style  start*/

#resume{
    padding-top: 130px;
    
}
.section-heading h3{
    text-align: center;
    font-size: 35px;
    font-weight: bold;
}
#resume .resume-container {
    width: 71%;
    max-width: 1140px;
    margin: 113px auto 0;
    display: flex;
    gap: 24px;
}
.resume-container .section-title{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #474747;
}
.resume-card{
    max-width: 511px;
    margin-right: 47px;
}
.resume-card .card-title{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #474747;
    margin-top: 30px;
}
.resume-card .card-info{
    font-size: 20px;
    font-weight: 600px;
    margin-bottom: 20px;
    color: #757575;
}
.resume-card .card-text{
    font-size: 20px;
    margin-bottom: 30px;
     color: #757575;
}
#resume .dow{
   background-color: #FD6E0A;
    color: white;
    border-radius: 5px;
    padding: 18px 30px;
    font-weight: bold;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
}

footer{
    margin-top: 113px;
    background-color: #FFF8F3;
    padding: 130px 0;
}
footer .footer-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    gap: 116px;
}
.footer-container .social{
    max-width: 562px;
}
footer h2{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}
.social p{
    font-size: 18px;
    color: #474747;
    line-height: 28px;
    
}
.footer-container .icons{
    margin-top: 30px;
}
.footer-container .icons a{
    margin-right: 24px;
}

.footer-container form input[type="text"] {
    width: 461px;
    height: 64px;
    padding: 18px 31px;
    margin-bottom: 24px;
    border: none;
    border-radius: 5px;
}
 .footer-container form textarea {
    margin: auto;
 }