
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: #FFF8F3;
    padding-top: 50px;
  
}
nav{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h2{
    font-size: 45px;
    font-weight: 900px;
}
nav .menu{
    display: flex;
    list-style: none;
    gap: 53px;
    align-items: center;
    
}
nav .menu a{
    text-decoration: none;
    font-size: 20px;
    color: #474747;
    
}
.btn{
    background-color: #FD6E0A;
    color: white;
    width: 150px;
    height: 65px;
    border-radius: 5px;
    padding: 18px 36px;
    cursor: pointer;
    border: none;
}
.color-orange{
    color: #FD6E0A;
}